<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066210387407-jttnqkpo3aageu2l2osmc97llgmor2sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066210387407-jttnqkpo3aageu2l2osmc97llgmor2sv</string>
	<key>API_KEY</key>
	<string>AIzaSyDxo0zE_D3X6eWrqM0gZiVz2K4ain812gA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066210387407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conuHacks2005</string>
	<key>PROJECT_ID</key>
	<string>order-wise</string>
	<key>STORAGE_BUCKET</key>
	<string>order-wise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066210387407:ios:b05aa225d6e8ad9fe91eba</string>
</dict>
</plist>